<div class="page">
  <div class="page-title">
    CLIENTES
  </div>

  <div class="page-body">
    <div class="clients-options">
      <div class="search">
        <input class="input" placeholder="Pesquisar cliente" [formControl]="searchClient" (keyup)="search()" />
      </div>
      <div class="buttons">
        <button mat-raised-button (click)="setIsNew()">Novo Cliente</button>
      </div>
    </div>
    <div class="parent" *ngIf="clients && clients.length > 0">
      <div class="div1">
        <table mat-table [dataSource]="clientsFilter" class="mat-elevation-z8">

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome. </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="cnpj">
            <th mat-header-cell *matHeaderCellDef> CNPJ </th>
            <td mat-cell *matCellDef="let element"> {{ formatCNPJ(element.cnpj) }} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" (click)="openClientDialog(element)">
              <mat-icon aria-hidden="false" class="go-to-client-icon" aria-label="Example home icon">arrow_forward
              </mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="div2">
        <app-client-details *ngIf="isNew || client" [client]="client" [isNew]="isNew" (getClients)="getClients($event)"></app-client-details>
      </div>
    </div>
  </div>
</div>
