<div class="page">
  <div class="page-title">
    MÓDULOS
  </div>

  <div class="page-cards">
    <div class="card" routerLink="/module/clients">
      <div class="card-header">
        <div class="content">
          CLIENTES
        </div>
      </div>
      <div class="card-body">
        <div class="content offline">
          <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
        </div>
      </div>
      <div class="card-footer">
        <div class="content">
          <div class="footer-info">
            <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
          </div>
          <div class="footer-info">

          </div>
        </div>
      </div>
    </div>

    <div class="card" routerLink="/module/contracts">
      <div class="card-header">
        <div class="content">
          CONTRATOS
        </div>
      </div>
      <div class="card-body">
        <div class="content">
          <span>8</span>
          &nbsp;contratos ativos
        </div>
      </div>
      <div class="card-footer">
        <div class="content">
          <div class="footer-info">
            <mat-icon aria-hidden="false" aria-label="Example home icon">inventory</mat-icon>
            3 contratos em atraso
          </div>
          <div class="footer-info">

          </div>
        </div>
      </div>
    </div>

    <div class="card" routerLink="/module/charge-payments">
      <div class="card-header">
        <div class="content">
          COBRANÇAS
        </div>
      </div>
      <div class="card-body">
        <div class="content offline">
          <span>
            <mat-icon aria-hidden="false" aria-label="Example home icon">local_atm</mat-icon>
          </span>
        </div>
      </div>
      <div class="card-footer">
        <div class="content">
          <div class="footer-info">
            <mat-icon aria-hidden="false" aria-label="Example home icon">local_atm</mat-icon>

          </div>
          <div class="footer-info">
            <mat-icon aria-hidden="false" aria-label="Example home icon">warning</mat-icon>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
